/* Đặt nền với độ mờ */
body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

body::before {
    content: "";
    background: url('/images/ganh_nang_tai_chinh.jpg') no-repeat center center;
    background-size: cover; /* Điều chỉnh kích thước nền */
    opacity: 0.5; /* Điều chỉnh độ mờ ở đây */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; /* Đảm bảo nó nằm phía sau nội dung */
}

header, main, footer {
    position: relative; /* Đảm bảo các phần tử chính nằm phía trên nền */
    z-index: 1; /* Đảm bảo chúng nằm phía trên pseudo-element */
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
}

header img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10%;
    image-rendering: crisp-edges;
}

main {
    align-items: center;
}

footer {
    background-color: rgb(19, 28, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    color: white !important;
}

footer a {
    color: white;
    text-decoration: none;
}

#textEffect {
    text-shadow: #FFFFFF 0 0 12px, #a9e942 0 0 25px, #a9e942 0 0 35px, #a9e942 0 0 50px;
    font-weight: bold;
}

/* Thu nhỏ khoảng cách giữa các column */
#colF {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10%;
}

#list a {
    text-decoration: none;
    color: black;
}

#list a:hover {
    background-color: #13d7f1;
}

#list li {
    list-style: none;
}

#danhMuc {
    border-bottom: 1px solid black;
}

#allList {
    padding-left: 0;
}

#allList input {
    width: 100%;
}

#listDetail {
    background-color: white;
    padding: 1rem;
}

#listF {
    padding: 1rem;
}

#pF {
    padding: 1rem;
    background-color: #a9e942;
    border-radius: 10%;
}

#listDetail img {
    width: 100%;
    max-width: 100px;
    border-radius: 20%;
}

.btn-primary {
    background-color: #a9e942;
    color: black;
    border: #a9e942;
}

section {
    padding: 0;
    width: 100%;
}

form {
    padding: 1rem;
}

#orderFM {
    margin: 10px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border: 1px solid black;
}

/* Responsive Design */
@media (max-width: 768px) {
    header, footer, main {
        padding: 0 1rem;
    }

    header img {
        width: 100%;
        height: auto;
    }

    #colF, #allList, #listDetail, #orderFM {
        width: 100%;
        margin: 0;
    }

    #listF {
        flex-direction: column;
        align-items: center;
    }

    .row.container {
        flex-direction: column;
    }

    #textEffect h1 {
        font-size: 1.5rem;
    }

    #allList {
        padding: 0;
    }

    #listDetail {
        margin: 0;
    }

    section {
        margin-left: 0;
    }
}
