/* Đặt nền với độ mờ */
body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: gray;
}



header,
main,
footer {
    position: relative;
    /* Đảm bảo các phần tử chính nằm phía trên nền */
    z-index: 1;
    /* Đảm bảo chúng nằm phía trên pseudo-element */
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
}

header img {
    width: fit-content;
    max-width: 300px;
    height: auto;
    border-radius: 10%;
    image-rendering: crisp-edges;

}

main {
    align-items: center;
}

footer {
    background-color: rgb(19, 28, 48);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    color: white !important;
}

footer a {
    color: white;
    text-decoration: none;
}
section {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
 nav select{
    display: none;
 }
 @media (max-width: 1080px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
    #menu{
        position: sticky;
        top: 0;
        
    }
    #layOut>div {
        margin-left: 2rem;
        margin-right: 2rem;
  
    }
   

    
}

@media (max-width: 1080px) {
    #cart{
        display: none;
        position: sticky;
        bottom: 0;
  
    }
}

#textEffect {
    text-shadow: #FFFFFF 0 0 12px, #D991A4 0 0 25px, #D991A4 0 0 35px, #D991A4 0 0 50px;
    font-weight: bold;
}



#layOut>div {
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
    /* Adjust as needed */
    text-align: center;
    height: fit-content;
}


#layOut ul li {
    list-style-type: none;
    padding: 5px;
    text-align: left;
}

#layOut ul li a {
    text-decoration: none;
    color: black;
    

}



#menuDetail {

    margin-left: 2rem;
    margin-right: 2rem;
    width: 100%;
    background-color: white;


}
  
.search-container form {
    width: 100%;
    /* Adjust as needed */
    display: flex;
    justify-content: center;
    ;
    
}

#list{
    text-align: left;
    padding: 1rem;


}
#list img{

   width:auto;
    height: 100px;
    border-radius: 10%;
    image-rendering: crisp-edges;
    text-align: center;
    
}

#list form{
display: flex;
flex-direction: column;
align-items: center;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
}


#orderList{
    padding: 1rem;
}

#menu{
    background-color: white;
}

#cart{
    background-color: white;
    padding: 1rem;
}
.btn-primary{
background-color: #F2C2CF;
border-color: #F2C2CF;
}
.col{
    width: fit-content;
}
